html {
    scroll-behavior: smooth;

}

body {
    margin: 0 auto;
    max-width: 1120px;
    background-size: 120% 120%;
}

.filmes{
    
    display: flex;
    justify-content: center;
    gap: 25px;

}
.container1 a, .container2 a, .container3 a {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
}

.titulo {
    text-align: center;
}
